<div class="container">
  <div class="header">
    <h1 class="header-text">
      <img class="vector" src="../../assets/images/Vector.png" alt="Vector" />
      Redberry Knight Cup
    </h1>
    <div class="image">
      <img src="../../assets/images/landing-page.jpg" alt="image" />
    </div>
  </div>
  <div class="content">
    <span class="span-text">a lot about</span>
    <h1 class="content-text">
      chess says <br />
      who we are
    </h1>

    <button class="get-started" [routerLink]="['/register']">
      <span class="get-started-text">Get Started</span>
      <img src="../../assets/images/GetStartedIcon.png" alt="" />
    </button>
  </div>
</div>
