@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;800&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
.container{
  background-color: #F5F5F5;
  display: flex;
  font-family: 'Nunito', sans-serif;
  height: 1080px;
  overflow: hidden;
}
.vector{
  width: 16px;
  height: 20px;
  margin-left: 80px;
}
.header-text{
  color: #FFFFFF;
}
.header{
  width: 923px;
  height: 88px;
  background-color:#7025FB;
}
.content{
  width: 997px;
  height: 1280px;
  background-color:#F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  bottom: 80px;
}
h2{
  font-size: 36px;
  font-weight: 800;
}
